<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" color="fourth"  defaultHref="tools"></ion-back-button>
    </ion-buttons>
    <ion-title>Metronome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="bpm-title">
          <span>
            {{bpmForm?.get('bpm')?.value}} bpm
            <small>
              ({{bpmForm?.get('beats')?.value}}/{{bpmForm?.get('mesure')?.value * 4}})
            </small>
          </span>
          <span>
            <ion-icon appLonpPress (pressing)="subBpm()" size="large" name="remove-circle-outline">
            </ion-icon>
            &nbsp;
            <ion-icon appLonpPress (pressing)="addBpm()" size="large" name="add-circle-outline">
            </ion-icon>
          </span>
        </div>
        <div class="bpm-subtitle">
          {{ (bpmForm?.get('bpm')?.value) | tempoName }}
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form class="settings" [formGroup]="bpmForm">
        <ion-item>
          <ion-range style="padding-left: 0; padding-right: 0" pin min="10" max="320" color="secondary" formControlName="bpm">
            <ion-label slot="start">10</ion-label>
            <ion-label slot="end">320</ion-label>
          </ion-range>
        </ion-item>

        <ion-item>
          <ion-label>Beat</ion-label>
          <ion-select multiple="false" interface="popover" formControlName="beats">
            <ion-select-option *ngFor="let beat of beatsList" [value]="beat">
              {{beat}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Mesure</ion-label>
          <ion-select multiple="false" interface="popover" formControlName="mesure">
            <ion-select-option [value]="0.25"> 1</ion-select-option>
            <ion-select-option [value]="0.5"> 2</ion-select-option>
            <ion-select-option [value]="1"> 4</ion-select-option>
            <ion-select-option [value]="2"> 8</ion-select-option>
            <ion-select-option [value]="4"> 16</ion-select-option>
            <ion-select-option [value]="8"> 32</ion-select-option>
            <!--<ion-select-option [value]="6"> 32</ion-select-option>-->
          </ion-select>
        </ion-item>
      </form>

    </ion-card-content>
  </ion-card>

  <div class="max-width">
    <div class="btn">
      <button (click)="tap()">
        <span>Tap</span>
      </button>
      <button (click)="toggleMetronome()">
        <ion-icon name="play" size="large" *ngIf="!interval"></ion-icon>
        <ion-icon name="stop" size="large" *ngIf="interval"></ion-icon>
      </button>
    </div>
  </div>

</ion-content>

<ion-footer>
  <div class="max-width">
    <div class="dots">
      <div class="dot"
           [class.selected]="(beat$ | async) === i"
           *ngFor="let d of dots; let i = index"></div>
    </div>
  </div>
</ion-footer>
