@import './theme.scss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

body {
  font-family: 'Avenir', 'Helvetica Neue', sans-serif;
  font-display: swap;
}

.padding {
  padding: 0.5rem 1rem;
}

.mat-card {
  max-width: 900px;
  margin: auto;
  position: relative;

  .mat-card-actions {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.mat-form-field {
  margin: 0 0.5rem;
}

.mat-tab-label-active {
  opacity: 1 !important;
}

.mat-tab-header {
  border: none !important;
}

.text-muted {
  opacity: 0.3;
}

.pointer {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img[alt=''],
img:not([alt]) {
  border: 5px solid red;
}
