@import '~@angular/material/theming';

@include mat-core();

$blue: (
  50: #e0edf3,
  100: #b3d1e0,
  200: #80b3cc,
  300: #4d94b8,
  400: #267da8,
  500: #006699,
  600: #005e91,
  700: #005386,
  800: #00497c,
  900: #00386b,
  A100: #9ac6ff,
  A200: #67aaff,
  A400: #348dff,
  A700: #1a7fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$yellow: (
  50: #fdf5e0,
  100: #fbe7b3,
  200: #f9d780,
  300: #f6c74d,
  400: #f4bb26,
  500: #f2af00,
  600: #f0a800,
  700: #ee9f00,
  800: #ec9600,
  900: #e88600,
  A100: #ffffff,
  A200: #ffeedc,
  A400: #ffd6a9,
  A700: #ffca90,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$red: (
  50: #fde6e0,
  100: #fbc2b3,
  200: #f99980,
  300: #f6704d,
  400: #f45126,
  500: #f23200,
  600: #f02d00,
  700: #ee2600,
  800: #ec1f00,
  900: #e81300,
  A100: #ffffff,
  A200: #ffdddc,
  A400: #ffaca9,
  A700: #ff9490,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$back: (
  50: #fefefe,
  100: #fcfcfc,
  200: #fafafa,
  300: #f7f7f7,
  400: #f6f6f6,
  500: #f4f4f4,
  600: #f3f3f3,
  700: #f1f1f1,
  800: #efefef,
  900: #ececec,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$front: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-theme-primary: mat-palette($blue);
$custom-theme-accent: mat-palette($yellow);
$custom-theme-warn: mat-palette($red);
$custom-theme-background: mat-palette($back);
$custom-theme-foreground: mat-palette($front);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=optional');
