.settings {
    display: flex;

    .mat-form-field {
        width: 100%;
    }
}

.note-to-find {
    margin: 1rem auto 0;
    font-size: 3rem;
    font-weight: bold;
    color: #006699;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba($color: #006699, $alpha: 0.2);
    line-height: 100px;
}

.list-of-notes-to-find {
    max-width: 40%;
    text-align: center;
    overflow-y: auto;

    button {
        margin: 5px;
    }
}

.action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action-row-result {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .good,
    .bad {
        font-size: 1.2rem;
        color: green;
    }

    .bad {
        color: brown;
    }
}

.note-to-find-wrapper-placeholder {
    display: none;
}

@media screen and (max-width: 600px) {

    .settings {
        flex-direction: column;
    }

    .note-to-find-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100vw;
        background: #f4F4F4;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.4);
        padding-bottom: 5px;
    }

    .list-of-notes-to-find {
        max-height: 120px;
    }

    .note-to-find-wrapper-placeholder {
        min-height: 126px;
        display: block;
    }
}