<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="fourth" (click)="close()">
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Get Pro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page">

    <ng-container *ngIf="product$ | async as product">

      <h1 class="taba">Fretboard Learning</h1>


      <div class="card" *ngIf="product?.valid" (click)="orderProMode(product)">
        <div class="title ">
          {{ product.title }}
        </div>

        <div class="description">
          {{ product.description }}
        </div>

        <div class="price">{{ product.price }} <small>per {{ product.billingPeriodUnit }}</small></div>
      </div>

      <!--<ul>
        <li>
          Unlimited number of games
        </li>
        <li>
          Fretboard heatmaps
        </li>
        <li>
          Left handed mode
        </li>
        <li>
          Custom tunings
        </li>
      </ul>-->

      <hr>
      <br>
      <br>
      <br>
      <br>

      <div class="text">
        Your payment will be charged to your iTunes account upon confirmation of your purchase
        <br>
        <br>
        The subscription renews automatically, unless auto-renewal is turned off at least 24 hours before the end of
        the current period
        <br>
        <br>
        The account will be debited with the same amount for a renewal within 24 hours before the end of the current
        period
        <br>
        <br>
        toute partie non utilisée d'un essai gratuit éventuel expire avec l'achat d'un abonnement
        <br>
        <ion-button color="fourth" fill="clear" (click)="restore()"> Restore purchase</ion-button>
      </div>


    </ng-container>
  </div>

</ion-content>
