<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="fourth" (click)="close()">
        <ion-icon name="close" slot="start"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Let's talk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page">

    <ng-container *ngIf="!!products && products.length">

      <h1>
        Fretboard learning Pro
      </h1>


      <ng-container *ngFor="let product of products">
        <ion-button class="start" fill="block" *ngIf="product?.description" (click)="orderProMode(product)">
          {{ product.description }} for {{ product.introPrice }}
        </ion-button>
      </ng-container>


    </ng-container>
  </div>

</ion-content>
