
.card {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.28);
  width: 90%;
  margin: auto;
  margin-top: 4ch;
  border-radius: 15px;
  padding: 1rem;
  background-image: linear-gradient(to right,
          var(--ion-color-sixth) 0%,
          var(--ion-color-sixth-tint) 100%);

  .title {
    padding: 0 0 2ch 0;
    font-size: 1.5rem;
  }

  .price {
    margin-top: 1ch;
    text-align: end;
  }
}

.title {
  display: flex;

  h1 {
    display: inline-block;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    position: relative;

    span {
      position: absolute;
      top: 0;
      right: 0;
      font-size: .7rem;
    }

    &:first-letter {
      // color: var(--ion-color-primary);
      font-size: 2.7rem;
    }
  }
}

.text {
  text-align: start;
  font-size: .75rem;
  opacity: .7;
}

ul {
  text-align: start;
  margin: 0;
  padding: 1ch 0 0 1ch;
  list-style: none;

  li {
    margin-top: 1.5ch;
  }
}
