<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="fourth">
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Quick tour
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngLet="currentSlide$ | async as currentSlide">

  <div [@animSlider]="currentSlide">
    <ng-container [ngSwitch]="currentSlide">
      <ng-container *ngSwitchCase="4">
        <app-slide-locate-all></app-slide-locate-all>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <app-slide-identify></app-slide-identify>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <app-slide-locate></app-slide-locate>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <app-slide-how-it-works></app-slide-how-it-works>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <app-slide-intro></app-slide-intro>
      </ng-container>
    </ng-container>
  </div>


</ion-content>

<ion-footer *ngLet="currentSlide$ | async as currentSlide">
  <div class="pages-indicator">
    <div class="indicator" *ngFor="let p of pages" [class.selected]="p === currentSlide"></div>
  </div>
  <div class="foot">
    <ion-button
      color="fourth"
      [disabled]="currentSlide === 0"
      (click)="onPrevSlide()"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="currentSlide !== lastSlideIndex"
      color="fourth"
      (click)="onNextSlide()"
    >
      Next
      &nbsp;
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="currentSlide === lastSlideIndex"
      color="success"
      (click)="close()"
    >
      Got it!
    </ion-button>
  </div>
</ion-footer>
