.top {
  left: 0;
  right: 0;
  position: fixed;
  background: var(--ion-background-color);
  z-index: 1;
}
.ios .top ion-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.placeholder {
  min-height: 105px;
}
.shadow {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
}

.title {
  text-align: center;
  font-family: 'Tabasco', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 3px;

  color: transparent;
  background: linear-gradient(to left top,
          var(--ion-color-tertiary),
          var(--ion-color-secondary) 60%,
          var(--ion-color-secondary) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;

  &:first-letter {
    // color: var(--ion-color-primary);
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 761px) {
  .page {
    max-width: 950px;
    margin: auto;
  }
}

@media screen and (max-width: 760px) {
  .page {
    padding: 0;
    margin: 0;
  }
}

.head {
  opacity: 0;
  margin-bottom: -45px;
}

.page {
  padding-top: 0;
}
