.playing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2ch;

  .note {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--ion-color-primary-contrast-rgb));
    font-size: 2rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba($color: var(--ion-color-primary-rgb), $alpha: 1);
    margin: auto;
  }
}

.score {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  .good {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: var(--ion-color-success);
    font-weight: bold;
    font-size: 2rem;
  }

  .all {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: end;
  }

  .good,
  .all {
    font-feature-settings: 'tnum';
    margin: 0;
    display: inline-block;
    line-height: 2rem;
    max-height: 2rem;

    b {
      display: inline-block;
    }
  }
}

.notes {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.amp {
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  height: 60vh;

  .image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: var(--ion-color-primary);
    padding: 5px;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
}

.amp.playing .image {
  position: relative;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: var(--ion-color-primary);
    clip-path: circle();
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  @keyframes pulse {
    0%, 30%, 100% {
      opacity: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    10%, 18% {
      opacity: .4;
      top: -10rem;
      left: -10rem;
      bottom: -10rem;
      right: -10rem;
    }
  }
}
