<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Locate game modes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <div class="page-list" [@listAnimation]="gameModes.length">
      <button
        class="page-list-item"
        *ngFor="let item of gameModes"
        [routerLink]="[ item.path ? item.path : '.' ]"
      >
        <div class="page-list-item-inside">
          <div class="page-list-item-image">
            <img [src]="item.img" [alt]="item.name" />
          </div>
          <div class="page-list-item-title">
            {{item.name}}
          </div>
          <div class="page-list-item-subtitle" [innerHTML]="item.text"></div>
        </div>
      </button>
    </div>
  </div>
</ion-content>
