<ion-header>
  <ion-toolbar *ngIf="!game.isPlaying">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="games"></ion-back-button>
    </ion-buttons>
    <ion-title>Identify</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="game.isPlaying">
    <ion-buttons slot="start">
      <ion-button (click)="game.togglePlay()">
        <ion-icon slot="icon-only" name="stop">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="score">
      <span class="good">
        <b [@popAnimation]="game.score.good">{{game.score.good}}</b>
      </span>
        <span class="all">
        <b>{{game.score.bad + game.score.good}} </b> /
          {{game.config.MAX_RANGE}}
      </span>
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-card *ngIf="!game.isPlaying">
    <ion-card-header>
      <ion-card-title>Identify the highlighted note!</ion-card-title>
    </ion-card-header>

    <ion-card-content class="game-mode">
      <p class="game-mode-result">
        <ng-container *ngIf="scoreHistoric?.length !== game.gameConfig.MAX_RANGE; else alreadyPlayedOneTime">
          Press the button to start playing
        </ng-container>
        <ng-template #alreadyPlayedOneTime>
          You figured out <b>{{ game.score.good }}</b> of the {{ scoreHistoric?.length }} notes for a speed of <b>{{ averageTime | number }}</b> seconds per note.
        </ng-template>
      </p>
    </ion-card-content>
  </ion-card>

  <br/>

  <div class="start">
    <app-btn color="secondary"
             pulsate
             *ngIf="!game.isPlaying"
             [disabled]="!!game.noteToFind"
             (clicked)="start()">
      START
    </app-btn>
  </div>

  <app-fretboard
          *ngIf="game.isPlaying"
          [invertedStrings]="preferences?.invertedStrings"
          [invertedFrets]="preferences?.invertedFrets"
          [useFlats]="preferences?.useFlats"
          [notation]="preferences?.notation"
          [notes]="game.fretboardNotes"
          [highlightNote]="game.noteToFind && game.noteToFind.note"
          [disableClick]="true"
          [showAll]="false"
          [selectedFrets]="game.fretsAvailable"
          [selectedNoteNames]="game.noteToFind ? [game.noteToFind.note.name] : null"
  >
  </app-fretboard>
</ion-content>

<ion-footer *ngIf="game.isPlaying">
  <ng-container *ngTemplateOutlet="playingControls"></ng-container>

  <div *ngIf="utils.isIOSPWA()" style="height: 2ch;"></div>
</ion-footer>

<ng-template #playingControls>
  <div class="notes">
    <ion-button #btn
                color="light"
                *ngFor="let note of game.notesAvailable"
                (click)="onNoteClicked(note, btn)">
        <span style="min-width: 2.4ch; display: inline-block; font-feature-settings: 'tnum'; text-transform: none;">
          {{note | note:preferences?.notation:preferences?.useFlats}}
        </span>
    </ion-button>
  </div>
</ng-template>
