.score {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  .good {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: var(--ion-color-success);
    font-weight: bold;
    font-size: 2rem;
  }

  .all {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: end;
  }

  .good,
  .all {
    font-feature-settings: 'tnum';
    margin: 0;
    display: inline-block;
    line-height: 2rem;
    max-height: 2rem;

    b {
      display: inline-block;
    }
  }
}

.notes {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);

  margin-bottom: var(--ion-safe-area-bottom);
}

.start {
  max-width: 950px;
  margin: auto;
}

.clickable-note {
  min-width: 2.4ch;
  display: inline-block;
  font-feature-settings: 'tnum';
  text-transform: none;
}
