.fretboard-wrapper {
  --fretboardHeight: 300px;
  --tileWidth: 148px;
  --tileHeightMobile: 120px;

  max-height: var(--fretboardHeight);
  overflow-y: hidden;

  .fretboard {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 1rem;

    .tile {
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: calc(var(--fretboardHeight) - 2px);
      background: antiquewhite;
      border: solid 1px rgba($color: #000, $alpha: 0.2);

      .tile-blocked {
        cursor: not-allowed;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000, $alpha: 0.2);
      }

      .tile-number {
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        font-size: 0.8rem;
      }

      .note {
        cursor: pointer;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        &::before {
          // NOTE: this is the string
          position: absolute;
          content: '';
          width: calc(100% + 2px);
          height: calc(50% - 1.5px);
          transform: translateX(-1px);
          border-bottom: 3px solid rgba($color: #000, $alpha: 0.6);
          pointer-events: none;
        }

        .note-name {
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          width: 30px;
          border-radius: 50%;
          color: white;
          font-weight: bold;
          font-size: 1.3rem;
          background: rgba($color: #006699, $alpha: 0.6);
          transition: opacity 250ms ease-out;
        }

        .note-false {
          background: rgba($color: #f23200, $alpha: 0.6);
        }

        .note-show {
          opacity: 1 !important;
        }

        .note-show-all {
          opacity: 1 !important; // NOTE: because js add style directy to the element
        }

        .mat-button {
          height: 100%;
          width: 100%;
        }
      }

      .note-highlighted {
        background: rgba($color: #006699, $alpha: 0.4);
      }
    }

    .tile-one-dot {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.4);
      }
    }

    .tile-two-dot {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.4);
      }

      &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.4);
      }
    }

    .tile-nut {
      background: #fff1f1;
    }
  }
}

.no-click {
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .fretboard-wrapper {
    width: 78%;
    max-width: 50vh;
    margin: auto;
    max-height: initial;
    overflow-y: hidden;
    padding-bottom: 10ch;

    .fretboard {
      overflow-y: hidden;
      overflow-x: auto;
      padding-bottom: 0rem;
      display: block;
      border-right: solid 1px rgba($color: #000, $alpha: 0.2);
      border-left: solid 1px rgba($color: #000, $alpha: 0.2);

      .tile {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        min-height: 0;
        height: var(--tileHeightMobile);
        width: 100%;
        background: antiquewhite;
        border-top: solid 1px rgba($color: #000, $alpha: 0.2);
        border-bottom: solid 1px rgba($color: #000, $alpha: 0.2);
        border-left: none;
        border-right: none;

        .tile-number {
          text-transform: capitalize;
        }

        .note {
          cursor: pointer;
          height: 100%;
          width: 100%;
          position: relative;

          &::before {
            // NOTE: this is the string
            position: absolute;
            content: '';
            height: calc(100% + 3px);
            width: calc(50% - 1.5px);
            transform: translate(-1.5px, 0);
            border-bottom: none;
            border-right: 3px solid rgba($color: #000, $alpha: 0.6);
            pointer-events: none;
          }
        }
      }

      .tile-two-dot {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          pointer-events: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          left: 33%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: rgba($color: #000000, $alpha: 0.4);
        }

        &::after {
          content: '';
          position: absolute;
          pointer-events: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          left: 67%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: rgba($color: #000000, $alpha: 0.4);
        }
      }

      .tile-nut {
        border-left: none;
        height: 46px;
        width: 100%;
        background: #fff1f1;
      }
    }
  }

  .width-1 {
    max-height: calc(8vh + 2.5vh);
  }
  .width-2 {
    max-height: calc(8vh + 2vh);
  }
  .width-3 {
    max-height: calc(8vh + 1.5vh);
  }
  .width-4 {
    max-height: calc(8vh + 1vh);
  }
  .width-5 {
    max-height: calc(8vh + 0.5vh);
  }
  .width-6 {
    max-height: calc(8vh + 0.25vh);
  }
  .width-7 {
    max-height: calc(8vh - 0.25vh);
  }
  .width-8 {
    max-height: calc(8vh - 0.5vh);
  }
  .width-9 {
    max-height: calc(8vh - 1vh);
  }
  .width-10 {
    max-height: calc(8vh - 1.25vh);
  }
  .width-11 {
    max-height: calc(8vh - 1.25vh);
  }
  .width-12 {
    max-height: calc(8vh - 1.25vh);
  }
}

@media screen and (min-width: 800px) {
  .fretboard-wrapper {
    margin: auto;
    width: 99%;
  }

  .tile-nut {
    width: calc(2.5%);
  }
  .width-1 {
    width: calc(8% + 3.5%);
  }
  .width-2 {
    width: calc(8% + 3%);
  }
  .width-3 {
    width: calc(8% + 2%);
  }
  .width-4 {
    width: calc(8% + 1%);
  }
  .width-5 {
    width: calc(8% + 0.5%);
  }
  .width-6 {
    width: calc(8% + 0.25%);
  }
  .width-7 {
    width: calc(8% - 0.25%);
  }
  .width-8 {
    width: calc(8% - 0.5%);
  }
  .width-9 {
    width: calc(8% - 1%);
  }
  .width-10 {
    width: calc(8% - 1.5%);
  }
  .width-11 {
    width: calc(8% - 2.5%);
  }
  .width-12 {
    width: calc(8% - 3%);
  }
}
