<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <img class="image" src="assets/imgs/404.gif" alt="messaging illustration" />
    <h1>404 Error 😟</h1>
    <div>
      <p>
        Oh no! This link is broken or the page has been removed!
        <br />
        Try navigating <a [routerLink]="['/']">back to home page</a> or
        <a href="https://twitter.com/TheAngularGuy">contacting me</a>.
      </p>
    </div>
  </div>
</ion-content>
