<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Settings" color="fourth"  defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Custom tuning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          <span> Create your own custom tuning </span>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Here you can create your custom tunings, then you can select them in the settings page, under the
        preferences section.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="page">


    <div class="tuning">
      <div class="tuning-machines">
        <div class="tuning-machines-left">
          <select [(ngModel)]="customTuning[0]">
            <option *ngFor="let note of chromaticScale" [value]="note">
              {{ note | note:preferences?.notation:preferences?.useFlats }}
            </option>
          </select>
          <select [(ngModel)]="customTuning[1]">
            <option *ngFor="let note of chromaticScale" [value]="note">
              {{ note | note:preferences?.notation:preferences?.useFlats }}
            </option>
          </select>
          <select [(ngModel)]="customTuning[2]">
            <option *ngFor="let note of chromaticScale" [value]="note">
              {{ note | note:preferences?.notation:preferences?.useFlats }}
            </option>
          </select>
        </div>
        <div class="tuning-machines-right">
          <select [(ngModel)]="customTuning[3]">
            <option *ngFor="let note of chromaticScale" [value]="note">
              {{ note | note:preferences?.notation:preferences?.useFlats }}
            </option>
          </select>
          <select [(ngModel)]="customTuning[4]">
            <option *ngFor="let note of chromaticScale" [value]="note">
              {{ note | note:preferences?.notation:preferences?.useFlats }}
            </option>
          </select>
          <select [(ngModel)]="customTuning[5]">
            <option *ngFor="let note of chromaticScale" [value]="note">
              {{ note | note:preferences?.notation:preferences?.useFlats }}
            </option>
          </select>
        </div>

        <img class="tuning-machines-image"
             src="assets/imgs/acoustic-guitar.svg"
             alt="tuning-machines-image"
        />
      </div>
    </div>
  </div>

  <div class="btns">
    <p class="text-muted">
      Once you save, the tuning will be listed in the settings page.
    </p>
    <ion-button color="primary" (click)="save()">
      <div>
        Save
      </div>
    </ion-button>
  </div>
</ion-content>

