<ion-header>
  <ion-toolbar *ngIf="!game.isPlaying">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="games"></ion-back-button>
    </ion-buttons>
    <ion-title>Locate</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="game.isPlaying">
    <ion-buttons slot="start">
      <ion-button (click)="game.togglePlay()">
        <ion-icon slot="icon-only" name="stop">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="score">
      <span class="good">
        <b [@popAnimation]="game.score.good">{{game.score.good}}</b>
      </span>
        <span class="all">
        <b>{{game.score.bad + game.score.good}} </b> /
          {{game.config.MAX_RANGE}}
      </span>
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-card *ngIf="!game.isPlaying">
    <ion-card-header>
      <ion-card-title>
        Locate the note on the fretboard!
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="game-mode">
      <p class="game-mode-result">
        <ng-container *ngIf="scoreHistoric?.length !== game.gameConfig.MAX_RANGE; else alreadyPlayedOneTime">
          Press the start button to begin
        </ng-container>
        <ng-template #alreadyPlayedOneTime>
          You figured out <b>{{ game.score.good }}</b> of the {{ scoreHistoric?.length }} notes for a speed of <b>{{ averageTime | number }}</b> seconds per note.
        </ng-template>
      </p>
    </ion-card-content>
  </ion-card>

  <br/>

  <div class="start">
    <app-btn color="secondary"
             pulsate
             *ngIf="!game.isPlaying"
             [disabled]="!!game.noteToFind"
             (clicked)="start()">
      START
    </app-btn>
  </div>

  <app-fretboard
          *ngIf="game.isPlaying"
          [invertedStrings]="preferences?.invertedStrings"
          [invertedFrets]="preferences?.invertedFrets"
          [useFlats]="preferences?.useFlats"
          [notation]="preferences?.notation"
          [notes]="game.fretboardNotes"
          [showAll]="false"
          [selectedFrets]="game.fretsAvailable"
          [selectedNoteNames]="game.noteToFind ? [game.noteToFind.note.name] : null"
          (noteClick)="onNoteClicked($event)"
  ></app-fretboard>
  <br/>
</ion-content>

<ion-footer *ngIf="game.isPlaying">
  <div class="playing">
    <div class="note" [@popAnimation]="game.noteToFind?.note?.name">
      {{game.noteToFind?.note?.name | note:preferences?.notation:preferences?.useFlats}}
    </div>
  </div>

  <div *ngIf="utils.isIOSPWA()" style="height: 2ch;"></div>
</ion-footer>
