<div class="fretboard-wrapper">
  <div class="fretboard">
    <div
      class="tile width-{{ fret }}"
      [ngClass]="{
        'tile-hide': !isSelectedFret(fret),
        'no-click': disableClick,
        'tile-nut': fret === 0,
        'tile-one-dot': [3, 5, 7, 9].includes(fret),
        'tile-two-dot': fret === 12
      }"
      *ngFor="let fretnotes of notes; let fret = index"
    >
      <span class="tile-number">
        <span *ngIf="fret == 0" class="hide-on-mobile">
          {{ fretnotes[0] | lowercase }}
        </span>
        <span *ngIf="fret == 0" class="hide-on-desktop">
          {{ fretnotes[5] | uppercase }}
        </span>
        <span *ngIf="fret > 0">{{ fret }}</span>
      </span>

      <div
        class="note"
        [ngClass]="{ 'note-highlighted': isNoteHighlighted(fret, string) }"
        *ngFor="let note of fretnotes; let string = index"
        (click)="
          onNoteClicked(
            {
              noteName: note,
              fret: fret,
              string: string
            },
            noteName
          )
        "
      >
        <span
          class="note-name"
          #noteName
          [ngClass]="{
            'note-false': selectedNotes && !isGoodNote(note),
            'note-show-all': showAll,
            'note-show': showSelectedNotes && isGoodNote(note)
          }"
        >
          {{ note }}
        </span>
      </div>

      <div class="tile-blocked" *ngIf="!isSelectedFret(fret)"></div>
    </div>
  </div>
</div>
