<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <img src="assets/imgs/undraw_adjustments.svg" alt="messaging illustration" />
  </div>

  <form>
    <ion-list>
      <ion-list-header>
        <ion-label>Preferences</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Left handed mode</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
