<app-fretboard (noteClick)="onNoteClicked($event)"
               [selectedNotes]="noteToFind ? [noteToFind.note] : null"></app-fretboard>


<section class="padding">
    <mat-card>
        <mat-card-actions>
            <button mat-icon-button
                    *ngIf="paused"
                    (tap)="toggleSettings()">
                <mat-icon *ngIf="showSettings">check</mat-icon>
                <mat-icon *ngIf="!showSettings">settings</mat-icon>
            </button>
        </mat-card-actions>


        <mat-card-title>
            Locate the note !
        </mat-card-title>
        <mat-card-subtitle>
            In this game you have to locate the note on the fretboard and click on it
        </mat-card-subtitle>
        <mat-card-content>

            <form class="settings"
                  [formGroup]="locateForm"
                  *ngIf="showSettings">
                <mat-form-field>
                    <mat-select placeholder="Notes to play with:"
                                multiple
                                formControlName="selectedNotes"
                                [disableOptionCentering]="true">
                        <mat-option *ngFor="let note of notes"
                                    [value]="note">{{note}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input placeholder="From fret number:"
                           matInput
                           autocomplete="off"
                           type="number"
                           formControlName="fretStart">
                </mat-form-field>
                <mat-form-field>
                    <input placeholder="To fret number:"
                           matInput
                           autocomplete="off"
                           type="number"
                           formControlName="fretEnd">
                </mat-form-field>
            </form>

            <div class="play"
                 *ngIf="paused"
                 (tap)="togglePaused()">
                <button mat-button
                        style="margin: 1rem auto 0; display: block">
                    <img src="assets/imgs/play.svg"
                         height="80">
                    <span style="display:block">Play</span>
                    <p *ngIf="good">
                        <span>You guessed right {{good}} out of {{good + bad}} notes.</span>
                        <span *ngIf="bad">Try again to improve !</span>
                        <span *ngIf="!bad">Impressive !</span>
                    </p>
                </button>
            </div>

            <div class="note-to-find-wrapper"
                 *ngIf="!paused">
                <div class="note-to-find">
                    <span>
                        {{noteToFind?.note}}
                    </span>
                </div>
                <div class="action-row">
                    <div>
                        <p class="action-row-result">
                            <img src="assets/imgs/good.svg"
                                 height="30">
                            <span class="good">: {{good}}</span>
                        </p>
                        <p class="action-row-result">
                            <img src="assets/imgs/bad.svg"
                                 height="30">
                            <span class="bad">: {{bad}}</span>
                        </p>
                    </div>
                    <div>
                        <button mat-button
                                (tap)="togglePaused()"
                                color="warn"> Stop </button>
                    </div>
                </div>
            </div>


        </mat-card-content>
    </mat-card>
</section>