.settings {
  ion-item {
    ion-input {
      text-align: end;
    }
  }
  @media screen and (min-width: 760px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    ion-item {
      width: 100%;

      ion-input {
        text-align: end;
      }
    }
  }
}

.result {
  color: black;
  font-size: 1.1rem;
  text-align: center;
  margin: 1.9rem 0 0;
}

.start {
  display: flex;
  justify-content: center;

  ion-button {
    height: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    overflow: hidden;

    div {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      align-items: center;

      img {
        width: 26px;
      }
    }

    @media screen and (max-width: 760px) {
      width: 90%;
    }
  }
}

.playing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2ch;

  .note {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--ion-color-primary-contrast-rgb));
    font-size: 2rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba($color: var(--ion-color-primary-rgb), $alpha: 1);
    margin: auto;
  }
  .score {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .good,
    .bad {
      font-feature-settings: 'tnum';
      margin: 0;
      height: 3ch;
      display: flex;
      align-items: center;

      &:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
}
