<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="fourth" (click)="close()">
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Quick tour
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides [pager]="true">

    <ion-slide>
      <div class="slide slide1">
        <img src="assets/imgs/icon.png"/>
        <h1 class="taba">
          Welcome to
          <br>
          Fretboard Learning
        </h1>
        <p>
          <span class="taba">Fretboard Learning</span> is a true guitar companion. You can practice and learn the notes
          of your guitar in your favorite tuning, learn any scale of any key and any chord over the fretboard at any
          time.
          <br>
          <br>
          This app is developed and maintained by a guitar player just like you. So, all suggestion you might have to
          improve it are welcome.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <h2>What is Ionic?</h2>
      <p>

      </p>

      <app-fretboard
              
              [selectedFrets]="[0,3]"
      ></app-fretboard>
    </ion-slide>

    <ion-slide>
      <img src="./slide-3.png"/>
      <h2>What is Appflow?</h2>
      <p><b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally
        new level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-4.png"/>
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
