.fretboard-wrapper {
  --fretboardHeight: 300px;
  --tileWidth: 148px;
  --tileHeightMobile: 120px;

  max-height: var(--fretboardHeight);
  overflow-y: hidden;

  .fretboard {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 1rem;
    border-radius: 5px;
    border: solid 1px rgba($color: #000, $alpha: 0.2);

    .tile {
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: calc(var(--fretboardHeight) - 2px);
      background: var(--ion-color-secondary);

      &::before {
        position: absolute;
        content: '';
        width: calc(100% - 3px);
        height: 100%;
        border-right: 3px solid rgba(var(--ion-color-fourth-rgb), 1);
        pointer-events: none;
      }

      .tile-blocked {
        cursor: not-allowed;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000, $alpha: 0.2);
      }

      .tile-number {
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        font-size: 0.8rem;
      }

      .note {
        cursor: pointer;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        background: transparent;
        display: block;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(0deg, black, transparent);
        background-size: 100% 3px;
        background-repeat: no-repeat;
        background-position-y: 50%;

        /* &::before {
          // NOTE: this is the string
          position: absolute;
          content: '';
          width: calc(100% + 2px);
          height: calc(50% - 1.5px);
          transform: translateX(-1px);
          border-bottom: 3px solid rgba($color: #000, $alpha: 0.6);
          pointer-events: none;
        } */

        .note-name {
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          width: 30px;
          border-radius: 50%;
          color: white;
          font-weight: bold;
          font-size: 1.3rem;
          background: rgba(var(--ion-color-success-rgb), 0.8);
          transition: opacity 250ms ease-out;
        }

        .note-false {
          background: rgba(var(--ion-color-danger-rgb), 0.8);
        }

        .note-show {
          opacity: 1 !important;
        }

        .note-show-all {
          opacity: 1 !important; // NOTE: because js add style directly to the element
        }
      }

      .note-highlighted {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          pointer-events: none;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(var(--ion-color-tertiary-rgb), 0.54);
        }
      }
    }

    .tile-one-dot {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.4);
      }
    }

    .tile-two-dot {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.4);
        border: none;
      }

      &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.4);
        border: none;
      }
    }

    .tile-nut {
      background: #fff1f1;
    }
  }
}

.no-click {
  pointer-events: none;
}
.tile-hide {
  @media screen and (max-width: 760px) {
    display: none !important;
  }
}

@media screen and (max-width: 760px) {
  .fretboard-wrapper {
    width: calc(100% - 20px);
    margin: auto;
    max-height: initial;
    overflow-y: hidden;
    padding-bottom: 10ch;

    .fretboard {
      overflow-y: hidden;
      overflow-x: auto;
      padding-bottom: 0rem;
      display: block;
      border-right: solid 1px rgba($color: #000, $alpha: 0.2);
      border-left: solid 1px rgba($color: #000, $alpha: 0.2);

      .tile {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        min-height: 0;
        height: var(--tileHeightMobile);
        width: 100%;

        border-left: none;
        border-right: none;

        &::before {
          position: absolute;
          content: '';
          height: calc(100% - 3px);
          width: 100%;
          // transform: translateX(-1px);
          border-bottom: 3px solid rgba(var(--ion-color-fourth-rgb), 1);
          pointer-events: none;
          border-right: none;
        }

        .note {
          cursor: pointer;
          height: 100%;
          width: 100%;
          position: relative;

          background: transparent;
          display: block;
          border: none;
          box-shadow: none;
          margin: 0;
          padding: 0;
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
          background-size: 3px 100%;
          background-repeat: no-repeat;
          background-position-x: 50%;
        }
      }

      .tile-two-dot {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          pointer-events: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          left: 33%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: rgba($color: #000000, $alpha: 0.4);
        }

        &::after {
          content: '';
          position: absolute;
          pointer-events: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          left: 67%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: rgba($color: #000000, $alpha: 0.4);
        }
      }

      .tile-nut {
        border-left: none;
        height: 46px;
        width: 100%;
        background: #fff1f1;
      }
    }
  }

  .width-1 {
    max-height: calc(var(--tileWidth) - 5px);
  }

  .width-2 {
    max-height: calc(var(--tileWidth) - 7px);
  }

  .width-3 {
    max-height: calc(var(--tileWidth) - 10px);
  }

  .width-4 {
    max-height: calc(var(--tileWidth) - 14px);
  }

  .width-5 {
    max-height: calc(var(--tileWidth) - 19px);
  }

  .width-6 {
    max-height: calc(var(--tileWidth) - 23px);
  }

  .width-7 {
    max-height: calc(var(--tileWidth) - 27px);
  }

  .width-8 {
    max-height: calc(var(--tileWidth) - 32px);
  }

  .width-9 {
    max-height: calc(var(--tileWidth) - 38px);
  }

  .width-10 {
    max-height: calc(var(--tileWidth) - 42px);
  }

  .width-11 {
    max-height: calc(var(--tileWidth) - 49px);
  }

  .width-12 {
    max-height: calc(var(--tileWidth) - 55px);
  }
}

@media screen and (min-width: 760px) {
  .fretboard-wrapper {
    margin: auto;
    width: calc(100% - 20px);
  }

  .tile-nut {
    width: calc(2.5%);
  }
  .width-1 {
    width: calc(8% + 3.5%);
  }
  .width-2 {
    width: calc(8% + 3%);
  }
  .width-3 {
    width: calc(8% + 2%);
  }
  .width-4 {
    width: calc(8% + 1%);
  }
  .width-5 {
    width: calc(8% + 0.5%);
  }
  .width-6 {
    width: calc(8% + 0.25%);
  }
  .width-7 {
    width: calc(8% - 0.25%);
  }
  .width-8 {
    width: calc(8% - 0.5%);
  }
  .width-9 {
    width: calc(8% - 1%);
  }
  .width-10 {
    width: calc(8% - 1.5%);
  }
  .width-11 {
    width: calc(8% - 2.5%);
  }
  .width-12 {
    width: calc(8% - 3%);
  }
}
