<div class="fretboard-wrapper">
    <div class="fretboard">
        <div class="tile width-{{i}}"
             [ngClass]="{'nut': i === 0}"
             *ngFor="let fretnotes of notes; let i=index">

            <span class="tile-number"
                  *ngIf="i > 0">
                {{i}}
            </span>

            <div class="note"
                 *ngFor="let note of fretnotes"
                 (tap)="onNoteClicked(note, noteName, btn)">
                <span class="note-name"
                      [ngClass]="{'note-false': note != noteSelected}"
                      #noteName>
                    {{note}}
                </span>
                <button mat-button
                        #btn>
                </button>
            </div>

        </div>
    </div>
</div>