<div class="fretboard-wrapper">
    <div class="fretboard">
        <div class="tile width-{{fret}}"
             [ngClass]="{'nut': fret === 0}"
             *ngFor="let fretnotes of notes; let fret=index">

            <span class="tile-number"
                  *ngIf="fret > 0">
                {{fret}}
            </span>

            <div class="note"
                 *ngFor="let note of fretnotes; let string=index"
                 (tap)="onNoteClicked({
                     note: note,
                     fret: fret,
                     string: string
                 }, noteName, btn)">
                <span class="note-name"
                      [ngClass]="{
                          'note-false': selectedNotes && !isGoodNote(note),
                          'note-show-all': showAll,
                          'note-show': showSelectedNotes && isGoodNote(note)
                        }"
                      #noteName>
                    {{note}}
                </span>
                <button mat-button
                        #btn>
                </button>
            </div>

            <div class="tile-blocked"
                 *ngIf="!isSelectedFret(fret)">
            </div>

        </div>
    </div>
</div>