<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Identify</ion-title>
    <ion-buttons slot="end" *ngIf="play">
      <!-- <ion-button (click)="togglePlay()">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button> -->
      <ion-button (click)="toggleShowAll()">
        <ion-icon slot="icon-only" name="eye"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!play">
      <ion-button (click)="toggleShowSettings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-card *ngIf="!play">
    <ion-card-header>
      <ion-card-title>Identify the note!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>In this game you have to identify the note highlighted on the fretboard.</p>

      <hr />

      <form class="settings" *ngIf="showSettings" [formGroup]="identifyForm" @slideAnimation>
        <ion-item>
          <ion-label>Notes</ion-label>
          <ion-select multiple="true" formControlName="selectedNotes">
            <ion-select-option *ngFor="let note of chromaticScale" [value]="note">
              {{note}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>From fret number</ion-label>
          <ion-input formControlName="fretStart" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>To fret number</ion-label>
          <ion-input formControlName="fretEnd" type="number"></ion-input>
        </ion-item>
      </form>

      <p class="result" *ngIf="!showSettings">
        <ng-container *ngIf="!scoreHistoric || !scoreHistoric.length">
          Press the button to start playing
        </ng-container>
        <ng-container *ngIf="scoreHistoric && scoreHistoric.length">
          Your score is <b>{{ score.good }}</b> out of {{ scoreHistoric?.length }}. And your average time
          is: <b>{{ getAverageTime() | number }}</b> seconds.
        </ng-container>
      </p>

      <br />

      <div class="start">
        <ion-button color="success" shape="round" (click)="togglePlay()" [disabled]="noteToFind">
          <ion-icon name="play" *ngIf="!noteToFind"></ion-icon>
          <ion-icon name="refresh" *ngIf="noteToFind"></ion-icon>
          &nbsp; GO
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="play" class="hide-on-mobile">
    <ion-card-header>
      <ion-card-title>Identify the note!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>In this game you have to identify the note highlighted on the fretboard.</p>
      <br />

      <ng-container *ngTemplateOutlet="playingControls"></ng-container>
    </ion-card-content>
  </ion-card>
  <br />

  <br />
  <app-fretboard
    [ngClass]="{'hide-on-mobile': !play}"
    [highlightNote]="noteToFind && noteToFind.note"
    [disableClick]="true"
    [showAll]="showAll"
    [selectedFrets]="[identifyForm?.value.fretStart, identifyForm?.value.fretEnd]"
    [selectedNotes]="noteToFind ? [noteToFind.note.noteName] : null"
  >
  </app-fretboard>
</ion-content>

<ion-footer *ngIf="play" class="hide-on-desktop">
  <ng-container *ngTemplateOutlet="playingControls"></ng-container>
  <div *ngIf="utils.isIosPWA()" style="height: 2ch;"></div>
</ion-footer>

<ng-template #playingControls>
  <div class="playing">
    <div class="score">
      <p class="good">
        <ion-icon name="thumbs-up" color="success"></ion-icon> &nbsp;
        <b [@popAnimation]="score.good">{{score.good}}</b> &nbsp; / {{maxRange}}
      </p>
      <p class="bad">
        <ion-icon name="thumbs-down" color="danger"></ion-icon> &nbsp;
        <b [@popAnimation]="score.bad">{{score.bad}} </b> &nbsp; / {{maxRange}}
      </p>
      <ion-button fill="outline" color="danger" size="small" style="width: 9ch" (click)="togglePlay()">
        Stop
      </ion-button>
    </div>
    <div class="notes">
      <ion-button
        #btn
        color="light"
        *ngFor="let note of identifyForm.value.selectedNotes"
        (click)="onNoteClicked(note, btn)"
      >
        <span style="min-width: 2.4ch; display: inline-block; font-feature-settings: 'tnum';">
          {{note}}
        </span>
      </ion-button>
    </div>
  </div>
</ng-template>
