<h1 class="taba">Game Modes:</h1>
<h2 class="taba">Locate all</h2>

<div class="content">
  <ng-lottie [options]="options"></ng-lottie>

  <p>
    In this game mode, you'll have to find all occurrences of a note between in an area of the fretboard (that is unlocked).
    <br>
    <br>

    Once you unlock the first twelve frets, you can chose the use all of them as the playing area. <br><br>

    The same goes for the 22 frets of the fretboard. Once they are all unlocked, you can choose the option to play with all the frets as a playing area.
    <br>
    In this cas you'll have to find all occurrences of a note in the entire fretboard.
  </p>
</div>
