<div class="full-page">
  <div class="gradient"></div>

  <div class="head-title">
    Guitar <br />
    fretboard <br />
    learning
  </div>

  <div class="panel">
    <mat-tab-group mat-align-tabs="end">
      <mat-tab>
        <ng-template mat-tab-label>
          <span> Game modes </span>
        </ng-template>
        <div class="padding no-scroll">
          <h2>Let's learn the fretboard</h2>
          <p>Hello there! I hope this tool will help you learn your fretboard.</p>
          <p>
            There is 3 modes to play with, the first one is to locate a specific note on the fretboard.
          </p>
          <p>
            The second one is a little bit harder, a note on the fretboard will be highlighted and you
            have to guess wich one is it.
          </p>
          <p>
            Last but not least the third game mode will help you to improvise, select the notes of the
            scale you want and you are ready to jam!
          </p>
          <p>Happy playing!</p>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span>Contact</span>
        </ng-template>
        <div class="padding no-scroll">
          <h2>Hey, let's stay in touch!</h2>
          <p>
            You liked this app or you have a great idea to enhance it? Contact me on one of my social
            media below:
          </p>
          <p class="pointer">
            <span (tap)="goTwitter()"> Twitter </span>
            <span class="text-muted">/</span>
            <span (tap)="goGithub()"> GitHub </span>
            <span class="text-muted">/</span>
            <span (tap)="goLinkedIn()"> Linkedin </span>
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="btn-list" [@listAnimation]="gameModes.length">
    <button *ngFor="let mode of gameModes" mat-flat-button color="primary" (tap)="goTo(mode.path)">
      <img [src]="mode.img" height="80" [alt]="mode.name" />
      <br />
      <p style="margin-bottom: 0">{{ mode.name }}</p>
    </button>
  </div>
</div>
