.btn-list {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  .mat-flat-button {
    font-size: 200%;
    min-height: 350px;
    width: 100%;
    margin: 0 0.7rem;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
        0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }
}

.full-page {
  color: white;
  height: calc(100vh - 64px);
  min-height: 750px;
  background-image: url("../../../assets/imgs/big-guitar.webp");
  position: relative;
  z-index: 1;
  overflow: auto;
  background-size: cover;
}

.gradient {
  z-index: 0;
  content: '';
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #006699,
    rgba(#6585b0, .8),
    rgba(#9ca7c6, .6),
    rgba(#cbccdc, .4),
    rgba(#f4f4f4, .2));
}

.panel {
  color: black;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  width: 60%;
  height: calc(100% - 2rem);
  background: #f4F4F4;
}

.head-title {
  font-family: 'Poppins', sans-serif;
  padding-top: 15vh;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: calc(40% - 4.5rem);
  font-size: 200%;
  text-transform: capitalize;
  letter-spacing: 5px;
  z-index: 1;
  position: relative;
  text-align: center;
}

.text-muted {
  cursor: default;
  padding: 0 0.5rem;
}


@media screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }

  .head-title {
    padding-top: 1rem;
    padding-right: 0rem;
    padding-left: 0rem;
    max-width: 100%;
    font-size: 200%;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-align: center;
  }

  .panel {
    color: black;
    overflow: hidden;
    border-radius: 8px 8px 8px 8px;
    position: initial;
    margin: 2rem auto 0;
    width: 90%;
    height: auto;
    background: #f4F4F4;
  }

  .btn-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: initial;
    bottom: 0;
    right: 0;
    margin: 1rem auto;

    .mat-flat-button {
      font-size: 120%;
      min-height: 0;
      width: 90%;
      margin: 1rem auto;
      border-radius: 8px;

      img {
        height: 50px;
        margin-top: 1rem;
      }
    }
  }

}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
}