.horizontal-list-wrapper {
  position: relative;
  overflow: hidden;

  .horizontal-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 2ch 3ch;
    scroll-snap-type: x proximity;

    .horizontal-list-scroll-padding {
      min-width: 3ch;
    }
  }
}

.page {
  display: flex;

  ion-button {
    width: 100%;
  }
}
