<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Explore chords</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Explore chords</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>You can explore all the chords in the standard tuning.</p>

      <hr/>

      <form class="settings" [formGroup]="exploreForm">
        <ion-item>
          <ion-label>Note</ion-label>
          <ion-select formControlName="note" interface="popover" (ionChange)="onSelectNote($event.detail.value)">
            <ion-select-option *ngFor="let note of chromaticScale" [value]="note">
              {{note | note}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Chord</ion-label>
          <ion-select formControlName="type" interface="popover" (ionChange)="onSelectType($event.detail.value)">
            <ion-select-option *ngFor="let type of chordTypes" [value]="type">
              {{type}}
            </ion-select-option>
          </ion-select>
        </ion-item>

      </form>
    </ion-card-content>
  </ion-card>

  <br/>
  <ng-container *ngFor="let chord of selectedChords; let i = index">
    <app-fretboard
            *ngIf="i === showChordNb"
            [invertedStrings]="preferences?.invertedStrings"
            [invertedFrets]="preferences?.invertedFrets"
            [notes]="fretboardNotes"
            [showSelectedNotes]="true"
            [selectedNotes]="getSelectedNotesFromChord(chord)"
            [selectedFrets]="[chord.fretStart, chord.fretEnd]"
            [showAll]="false"
            [disabledStrings]="chord.disabledStrings"
            [barre]="chord.barre"
            [showOnlySelectedFrets]="true"
    ></app-fretboard>
  </ng-container>
  <ng-container *ngIf="!selectedChords || !selectedChords.length">
    <p class="text-muted">
      No available chords for the moment.
    </p>
  </ng-container>
</ion-content>

<ion-footer>
  <div class="page">
    <ion-button color="primary"
                *ngIf="showChordNb < selectedChords.length"
                [disabled]="!isPrevChordAvailable"
                (click)="prevChord()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary"
                *ngIf="showChordNb < selectedChords.length"
                [disabled]="!isNextChordAvailable"
                (click)="nextChord()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
