<ion-header>
  <ion-toolbar *ngIf="!game.isPlaying">
    <ion-buttons slot="start">
      <ion-back-button text="Games" color="fourth" defaultHref="games"></ion-back-button>
    </ion-buttons>
    <ion-title>Practice</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="game.isPlaying">
    <ion-buttons slot="start">
      <ion-button (click)="game.togglePlay()" color="fourth">
        <ion-icon slot="start" name="stop">
        </ion-icon>
        Stop
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="score">
      <span class="good">
        <b [@popAnimation]="game.score.good">{{game.score.good}}</b>
      </span>
        <span class="all">
        <b>{{game.score.bad + game.score.good}} </b> /
          {{game.config.MAX_RANGE}}
      </span>
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-card *ngIf="!game.isPlaying">
    <ion-card-header>
      <ion-card-title>
        Focus on an area
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="game-mode">

      <p>
        Choose the notes you want to practice and the area of the fretboard you want to focus on. Note that you can't practice with notes or frets that are not unlocked yet.
        <br>
        This is a practice mode. You will not gain points.
      </p>

      <form class="settings" [formGroup]="exploreForm">
        <ion-item>
          <ion-label>Notes</ion-label>
          <ion-select multiple="true" formControlName="selectedNotes"
                      (ionChange)="onSelectedNotes($event.detail.value)">
            <ion-select-option *ngFor="let note of notes" [value]="note">
              {{note | note:preferences?.notation:preferences?.useFlats}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>From fret number</ion-label>
          <ion-select multiple="false" interface="popover" formControlName="fretStart"
                      (ionChange)="onSelectedFretStart($event.detail.value)">
            <ion-select-option *ngFor="let f of frets" [value]="f"> {{f}} </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>To fret number</ion-label>
          <ion-select multiple="false" interface="popover" formControlName="fretEnd"
                      (ionChange)="onSelectedFretEnd($event.detail.value)">
            <ion-select-option *ngFor="let f of frets" [value]="f"> {{f}} </ion-select-option>
          </ion-select>
        </ion-item>
      </form>

      <p class="game-mode-result">
        <ng-container *ngIf="scoreHistoric?.length !== game.gameConfig.MAX_RANGE; else alreadyPlayedOneTime">
          Press the start button to begin
        </ng-container>
        <ng-template #alreadyPlayedOneTime>
          <span class="result n{{game.score.good}}">
            <b>{{ game.score.good }}</b> out of {{ scoreHistoric?.length }}
          </span>
          <br>
          <small><b>{{ averageTime | number }}</b> seconds per note.</small>
        </ng-template>
      </p>
    </ion-card-content>
  </ion-card>

  <br/>

  <div class="start">
    <app-btn color="secondary"
             style="color: black !important;"
             pulsate
             *ngIf="!game.isPlaying"
             [disabled]="!!game.noteToFind"
             (clicked)="start()">
      START
    </app-btn>
  </div>

  <app-fretboard
      *ngIf="game.isPlaying"
      [showOnlySelectedFrets]="preferences?.showOnlySelectedFrets"
      [invertedStrings]="preferences?.invertedStrings"
      [invertedFrets]="preferences?.invertedFrets"
      [useFlats]="preferences?.useFlats"
      [notation]="preferences?.notation"
      [notes]="game.fretboardNotes"
      [showAll]="false"
      [selectedFrets]="game.fretsAvailable"
      [selectedNoteNames]="game.noteToFind ? [game.noteToFind.note.name] : null"
      (noteClick)="onNoteClicked($event)"
  ></app-fretboard>
  <br/>
</ion-content>

<ion-footer *ngIf="game.isPlaying" style="bottom: 0">
  <div class="playing" @noEnterAnimation>
    <div class="note" [@popAnimation]="game.noteToFind?.note?.name">
      {{game.noteToFind?.note?.name | note:preferences?.notation:preferences?.useFlats}}
    </div>
  </div>
</ion-footer>
