.page-list-item-disabled {
  cursor: not-allowed;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--ion-color-fourth-rgb), 0.328);
    pointer-events: none;
  }
}

@media screen and (min-width: 760px) {
  .page-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    .page-list-item {
      position: relative;
      display: block;
      border-radius: 15px;
      min-height: 200px;
      overflow: hidden;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      background: var(--ion-color-secondary-tint);
      padding: 2ch;

      &:hover {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      }

      .page-list-item-image {
        text-align: center;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .page-list-item-title {
        text-align: center;
        font-size: 1.7rem;
        padding: 1ch 1rem 0;
        color: var(--ion-color-sixth);
      }

      .page-list-item-subtitle {
        text-align: center;
        padding: 1ch 1rem 0;
        min-height: 3rem;
      }
    }
    .page-list-item-disabled {
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
      &::after {
        background: rgba(var(--ion-color-fourth-rgb), 0.45);
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .page-list {
    display: flex;
    flex-direction: column;

    .page-list-item {
      width: 100%;
      border-bottom: 1px solid var(--ion-color-fourth);
      overflow: hidden;
      background: transparent;
      padding: 3ch 0 3ch 3ch;

      .page-list-item-inside {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;

        .page-list-item-image {
          grid-column: -3 / -1;
          grid-row: 1 / 3;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80px;
            transform: translate(-50%, -50%);
            background: rgba(var(--ion-color-secondary-rgb), 1);
            border-radius: 15px;
          }

          img {
            position: relative;
            width: 45px;
            z-index: 1;
          }
        }

        .page-list-item-title {
          grid-column: 1 / -3;
          display: flex;
          align-items: center;
          font-size: 1.7rem;
          padding: 0;
          color: var(--ion-color-sixth);
        }

        .page-list-item-subtitle {
          grid-column: 1 / -3;
          text-align: start;
          padding: 1ch 0;
        }
      }
    }
  }
}
