<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <img src="assets/imgs/undraw_manage_chats.svg" alt="messaging illustration" />
    <h1>Hey, let's stay in touch!</h1>
    <div>
      <p>
        You liked this app or you have a great idea to enhance it?
        <br />
        Contact me on one of my social media below:
      </p>

      <br />

      <ion-list>
        <ion-item button (click)="goTwitter()">
          <ion-label> Twitter </ion-label>
          <ion-icon name="logo-twitter" slot="end"></ion-icon>
        </ion-item>
        <ion-item button (click)="goGithub()">
          <ion-label> GitHub </ion-label>
          <ion-icon name="logo-github" slot="end"></ion-icon>
        </ion-item>
        <ion-item button (click)="goLinkedIn()">
          <ion-label> LinkedIn </ion-label>
          <ion-icon name="logo-linkedin" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
