.page {
  padding: 1rem;

  img {
    max-width: 300px;
    max-height: 300px;
    width: 70vw;
    height: 70vw;
    min-width: 150px;
    min-height: 150px;
    display: block;
    margin: 1rem auto 2rem;
  }
}

@media screen and (min-width: 760px) {
  .page {
    text-align: center;
  }
}

.text-muted {
  padding: 0 1rem;
  cursor: default;
  opacity: 0.5;
  font-size: 70%;
}
