<ion-app>
  <ion-split-pane contentId="main-content" [disabled]="true">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content [scrollY]="false" [scrollX]="false">
        <div class="header">
          <img src="assets/imgs/guitar-black.svg" alt="guitar logo" height="100" />
          &nbsp;
          <p>
            fretboard <br />
            learning
          </p>
        </div>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item
              ion-button
              [routerDirection]="'root'"
              [routerLink]="[p.url]"
              [detail]="false"
              lines="none"
            >
              <img [src]="p.img" height="40" style="margin-right: 2ch;" />
              <ion-label style="font-size: 1.3rem; min-height: 4ch; line-height: 4ch;">
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider></ion-item-divider>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of morePages">
            <ion-item ion-button [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
