.header {
  background: linear-gradient(
    45deg,
    rgba(var(--ion-color-primary-rgb), 0.5) 0%,
    rgba(var(--ion-color-primary-rgb), 1) 35%,
    rgba(var(--ion-color-primary-rgb), 1) 100%
  );
  background-size: cover;
  height: 220px;
  overflow: hidden;
  border-radius: 0 0 0 65px;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: -6px -4px 16px 0px #020202;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Avenir', sans-serif;
  font-size: 200%;
  font-display: swap;
  text-transform: capitalize;
  text-align: center;
  color: var(--ion-color-primary-contrast);
}
