<img src="assets/imgs/icon.png"/>
<h1 class="taba">
  Welcome to
  <br>
  Fretboard Learning
</h1>
<p>
  <span class="taba">Fretboard Learning</span> is a true guitar companion. With it, you can practice and learn the
  notes of your guitar. Choose your favorite tuning, learn any scale of any key and any chord over the
  fretboard at any time.
  <br>
  <br>
  This app is developed and maintained by a guitar player just like you. So, all suggestions you might
  have to improve it are welcome.
  <br>
  <br>
</p>
