.settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  ion-item {
    width: 100%;

    ion-input {
      text-align: end;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      grid-template-columns: 1fr;
      grid-gap: 0rem;
    }
  }
}
