<ng-container *ngIf="userState$ | async as userState">

  <ion-header>
    <ion-toolbar>
      <ion-title>Explore</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openOrderModal()" *ngIf="!userState.pro" color="fourth">
          Get pro
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="page">
      <app-list (itemClick)="onItemClicked($event)" [list]="gameModes"></app-list>
    </div>
  </ion-content>
</ng-container>
