<ng-container *ngIf="choix$ | async as choix">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="close()" color="fourth">
          <ion-icon name="close" slot="start"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Get pro
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment (ionChange)="onChoiceChange($event.detail)"
                   [color]="isIOS ? null : 'success'"
                   [style]="isIOS ? 'width: 95%; margin-bottom: 1ch' : null"
                   [value]="choix">
        <ion-segment-button value="monthly">
          <ion-label>Monthly</ion-label>
        </ion-segment-button>
        <ion-segment-button value="forever">
          <ion-label>One-time payment</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ng-container *ngIf="productMonthly$ | async as productMonthly">
      <ng-container *ngIf="productForever$ | async as productForever">
        <div class="page">


          <div class="title">
            <h1 class="taba">
              Fretboard Learning
              <span>pro</span>
            </h1>
          </div>

          <ul>
            <li>
              <ion-icon color="success" name="bag-check"></ion-icon> &nbsp; Play an <b>unlimited number of games</b>
              without
              worrying about
              the
              weekly limit
            </li>
            <li>
              <ion-icon color="success" name="bag-check"></ion-icon> &nbsp; Follow your progression using
              the <b>fretboard heatmap</b> and find the areas of progression
            </li>
            <li>
              <ion-icon color="success" name="bag-check"></ion-icon> &nbsp; Unlock all customizations and settings: <b>Custom
              tunings, left handed mode </b> and <b>alternative Notations </b>
            </li>
            <li>
              <ion-icon color="danger" name="heart"></ion-icon> &nbsp;
              Support an independent creator
            </li>
          </ul>


          <ng-container *ngIf="choix === 'monthly'">
            <div (click)="orderProMode(productMonthly)" *ngIf="productMonthly?.valid" [@fadeinAnimation]="choix"
                 class="card">
              <div class="title ">
                {{ productMonthly.title }}
              </div>

              <div class="description">
                {{ productMonthly.description }}
              </div>

              <div class="price">{{ productMonthly.price }} <small>per {{ productMonthly.billingPeriodUnit }}</small>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="choix === 'forever'">
            <div (click)="orderProMode(productForever)" [@fadeinAnimation]="choix"
                 class="card forever">
              <div class="title ">
                {{ productForever.title }}
              </div>

              <div class="description">
                {{ productForever.description }}
              </div>

              <div class="price">{{ productForever.price }} <small>per life-time</small>
              </div>
            </div>
          </ng-container>

          <hr>
          <br>
          <br>
          <br>

          <div class="text">
            Your payment will be charged to your iTunes account upon confirmation of your purchase.
            <br>
            The subscription renews automatically, unless auto-renewal is turned off at least 24 hours before the end of
            the current period.
            <br>
            The account will be debited with the same amount for a renewal within 24 hours before the end of the current
            period.
            <br>
            Any unused portion of a possible free trial expires with the purchase of a subscription. Read more in the
            Terms
            of Use available under settings > Privacy & Terms of Use > Terms of Use.
            <br>
            <br>
            <a (click)="restore()">Restore purchase</a>
            <br>
            <br>
          </div>
        </div>

      </ng-container>
    </ng-container>

  </ion-content>
</ng-container>
