<ion-content>
  <div class="timer">
    <div #timer class="line"></div>
  </div>

  <button (click)="close()" class="close">
    <ion-icon name="chevron-down-outline" size="large"></ion-icon>
  </button>

  <div (click)="clearTimmer()" class="wrapper">

    <div class="illu">
      <img alt="progress illustration"
           src="assets/imgs/progress.svg">
    </div>

    <div class="placeholder"></div>

    <p class="score">
      {{ level?.name }} &nbsp; — &nbsp; <b>{{current}}</b> &nbsp; <img alt="level coins loge"
                                                                       src="assets/imgs/guitar-pick.svg"/>
    </p>

    <div class="progress">
      <div #line class="line"></div>
    </div>
    <p class="min-max">
      <span>{{level?.min}}</span>
      <span>{{level?.max}}</span>
    </p>

    <ng-container *ngIf="showNewLevel">
      <div @popAnimation class="new-level">
        {{level?.name}}
      </div>
      <hr>
      <div @delayAnimation class="slides">
        <ion-icon (click)="slides.slidePrev()" *ngIf="isThereMultipleSlides"
                  class="left" name="chevron-back-outline" size="large"></ion-icon>
        <ion-icon (click)="slides.slideNext()" *ngIf="isThereMultipleSlides"
                  class="right" name="chevron-forward-outline" size="large"></ion-icon>

        <ng-container *ngIf="!(level?.unlockedNotes?.length || level?.unlockedFrets.length)">
          <div class="unlocked-stuff">
            <p>
              Congratulation on your new level!
            </p>
          </div>
        </ng-container>
        <ion-slides #slides [pager]="!!isThereMultipleSlides">
          <ion-slide *ngIf="level?.unlockedNotes?.length">
            <div class="unlocked-stuff">
              <p>
                Congratulation, you've unlocked new notes!
              </p>
              <div class="notes">
                <ion-button *ngFor="let n of level?.unlockedNotes" color="success">
                  {{n | note:preferences?.notation:preferences?.useFlats}}
                </ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide *ngIf="level?.unlockedFrets?.length">
            <div class="unlocked-stuff">
              <p>
                <span *ngIf="!level?.unlockedNotes?.length">Congratulation</span>
                <span *ngIf="!!level?.unlockedNotes?.length">Also</span>
                , you've unlocked new frets!
              </p>
              <div class="notes">
                <ion-button *ngFor="let f of level?.unlockedFrets" color="success">
                  {{f}}
                </ion-button>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </ng-container>

    <p *ngIf="!showNewLevel && level" class="encouragement">
    <span *ngIf="level.max - current > 0; else wellDoneTemplate">
      <span *ngIf="(current - level.min) > level.max / 1.75">Only</span> {{ level.max - current }}
      <img alt="level coins loge" src="assets/imgs/guitar-pick.svg"/>
      until the next level. <br> Keep going!
    </span>
      <ng-template #wellDoneTemplate>
        Well done, you are progressing
      </ng-template>
    </p>

    <!--<ion-button class="ok" color="success" expand="block" (click)="close()">
      OK
    </ion-button>-->
  </div>
</ion-content>
