.settings {
  ion-item {
    ion-input {
      text-align: end;
    }
  }

  @media screen and (min-width: 761px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    ion-item {
      width: 100%;

      ion-input {
        text-align: end;
      }
    }
  }
}

.split-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ico {
    transition: transform 250ms ease-in-out;

    &.rotate {
      transform-origin: center;
      transform: rotate(-180deg);
    }
  }
}
