<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <div class="title taba">
      Fretboard Learning
    </div>
    <p class="info">
      Login to track your progression, see a detailed view of the fretboard and see witch note you know well on the
      fretboard and witch note you need to focus on more.
    </p>

    <br>

    <ion-button color="secondary" expand="block" (click)="onLoginWithGoogle()">
      <ion-icon name="logo-google"></ion-icon> &nbsp;
      Login with Google
    </ion-button>
  </div>

</ion-content>
