<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Settings" color="fourth" defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms of Use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="page">

    <h1>
      Licensed application end user license agreement
    </h1>

    The terms of this agreement ("Terms of Use") govern the relationship between you and the Fretboard Learning
    independent developer MR. Mustapha AOUAS, a French resident, with its address at Villeurbanne, France
    (aouas.M@gmail.com) (“Fretboard Learning” or “Us”, “Me” or “We”) regarding your use of Fretboard Learning app,
    websites and related services (the "Service"), including all information, text, graphics, software, and services,
    available for your use. By using this website/app and the services offered on it, downloading any software, or
    browsing the website, as well as by downloading any of our mobile games from app stores, you accept the following
    Terms of Use. If you do NOT agree to all these Terms of Use, please do NOT use this website/app and/or download any
    of our games.
    <br>
    <br>
    Fretboard Learning is authorized to amend the Terms of Use at any time, with the amended Terms of Use effective as
    soon as they are posted on this website/app. Please check the most current Terms of Use to ensure that you are aware
    of all the terms and conditions regulating your use of this website/app/game.
    Fretboard Learning reserves the right to make changes to or update the content of the website and its games or the
    format thereof at any time and without any notice. Fretboard Learning reserves the right to terminate or restrict
    access to the website for any reason whatsoever at its sole discretion.
    <br>
    <br>
    By using our website/app/game you agree that Apple, and Apple’s subsidiaries, are third party beneficiaries of the
    Terms of Use, and that, upon your acceptance of the terms and conditions of this Terms of Use, Apple will have the
    right to enforce the EULA against the End-User as a third party beneficiary thereof.

    <h2>
      WARRANTIES AND DISCLAIMERS
    </h2>
    ALL INFORMATION, SOFTWARE, AND SERVICES OFFERED ON THIS WEBSITE/APP ARE PROVIDED "AS IS." FRETBOARD LEARNING AND ITS
    DEVELOPER HEREBY EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED
    TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
    <br>
    <br>
    FRETBOARD LEARNING AND/OR ITS DEVELOPER MAKES NO WARRANTY, REPRESENTATION, OR GUARANTY AS TO THE CONTENT, SEQUENCE,
    ACCURACY, TIMELINESS, OR COMPLETENESS OF ITS INFORMATION, SOFTWARE, OR SERVICES. FRETBOARD LEARNING MAKES NO
    WARRANTY, REPRESENTATION, OR GUARANTY THAT THE INFORMATION, PRODUCTS, OR SERVICES WILL BE UNINTERRUPTED OR ERROR
    FREE OR THAT ANY DEFECTS WILL BE CORRECTED.
    <br>
    <br>
    FRETBOARD LEARNING AND/OR ITS DEVELOPER ASSUMES NO RESPONSIBILITY FOR ERRORS OR OMISSIONS IN THE INFORMATION,
    SOFTWARE, OR SERVICES REFERENCED OR LINKED TO ON THIS WEBSITE.
    <br>
    <br>
    IN NO CASE SHALL FRETBOARD LEARNING AND/OR ITS DEVELOPER BE HELD LIABLE FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL,
    PUNITIVE, SPECIAL, OR INCIDENTAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, THOSE RESULTING FROM A LOSS OF BUSINESS,
    DATA, OR REVENUE; RELIANCE ON THE MATERIALS PRESENTED; DELAYS; OR BUSINESS INTERRUPTIONS ARISING OUT OF OR IN
    CONNECTION WITH THE USE OR PERFORMANCE OF FRETBOARD LEARNING INFORMATION) REGARDLESS OF WHETHER FRETBOARD LEARNING
    AND/OR ITS DEVELOPER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    <br>
    <br>
    DOWNLOADING AND USING ANY OF THE SOFTWARE OR SERVICES OFFERED BY FRETBOARD LEARNING AND/OR ITS DEVELOPER IS DONE AT
    YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ALL DAMAGE TO YOUR DEVICE SYSTEM, LOSS OF DATA, OR
    OTHER HARM THAT RESULTS FROM SUCH ACTIVITIES.

    <h2>
      Copyright
    </h2>
    Copyrights, trademarks, and all other proprietary rights shown in the content (including, but not limited to,
    software, services, text, graphics, and logos) are reserved to Fretboard Learning Developer and protected by
    intellectual property laws. You agree not to copy, republish, modify, download, distribute, license, sublicense,
    reverse engineer, or create derivatives based on the site/app, its software, or its services except as expressly
    authorized herein. Except as otherwise provided, the content published on this website and/or in the app stores may
    be reproduced or distributed in unmodified form for personal, non-commercial use only. Any other use of the content,
    including, without limitation, distribution, reproduction, modification, display, or transmission, without the prior
    written consent of Fretboard Learning developer is strictly prohibited. All copyright and other proprietary notices
    shall be retained on all reproductions.
    <br>
    <br>
    Fretboard Learning developer disclaims all proprietary interests in its intellectual property rights other than its
    own. References to third-party services and software are given by Fretboard Learning "AS IS," without warranty of
    any kind, either expressed or implied.

    <h2>
      Online Purchasing
    </h2>
    When conducting online purchases with Fretboard Learning on your device, you must provide true, accurate, and
    complete information about yourself and provide a non-fraudulent means of payment. If you provide any personal or
    financial information that is untrue, inaccurate, or incomplete, or if Fretboard Learning has reasonable grounds to
    suspect that the information you provide is untrue, inaccurate, or incomplete, Fretboard Learning has the right to
    void related financial transactions, to revoke all associated software licenses acquired via such transactions, and
    to refer to appropriate authorities the details of such incidents.
    Fretboard Learning mobile game include in-game purchases (“in app purchases”), such as All Access package, that can
    be purchased for real money and in turn used to unlock virtual in-game items (“Virtual Items”). Please note that
    Fretboard Learning or its developer does not handle and is not responsible for handling transactions acquiring
    Virtual Items. All transactions are handled by third-party e-commerce payment providers. By purchasing in-game
    Virtual Items, you are bound by and agree to the third-party payment providers’ Terms of Use.
    <br>
    <br>
    In addition to all third-party obligations, the following shall apply. In no way can Virtual Items or Virtual
    Packages be exchanged with us or anyone else for real money, goods, other items, or services of monetary value.
    Transferring Virtual Packages or Virtual Items outside the Games is strictly prohibited, meaning that you may not
    buy or sell Virtual Packages or Virtual Items for real money or otherwise exchange Virtual Packages or Virtual Items
    for items of value outside the Games.
    <br>
    <br>
    You also agree that all prices and sales of Virtual Packages and Virtual Items are final. Neither third-party
    payment providers nor Fretboard Learning or its developer issue refunds for completed transactions except as
    provided in this Terms of Use. Please note that you only purchase a limited, revocable, non-transferable license to
    use in-game Virtual Packages or Virtual Items, and you agree that you do not own them. In the event your account is
    limited, terminated, suspended, modified, or deleted for any reason, at Fretboard Learning’s sole and absolute
    discretion, or if Fretboard Learning developer discontinues its Games, you forfeit any and all Virtual Packages and
    Virtual Items earned or purchased. Fretboard Learning developer has the absolute right to manage, regulate, control,
    modify, and/or eliminate Virtual Packages and/or Virtual Items as it sees fit and at its sole discretion, and
    Fretboard Learning or its developer is under no obligation to compensate you or anyone else for any resulting
    losses.

    <h2>
      Refunds
    </h2>
    If you give your account, os account or payment details to someone else, appear to be abusing our policies, or don’t
    protect your account with authentication, we usually can’t issue a refund.
    In case of refund, payment processor's standard terms and conditions regarding refunds will apply. User refunds are
    exclusive of taxes previously charged to users for product purchases.
    <br>
    <br>
    You can report to Apple a problem with any purchase that you've made using the link http://reportaproblem.apple.com.
    If technical problems prevent or unreasonably delay delivery of the Game, your exclusive and sole remedy is either
    replacement of the Game or refund of the price paid, as determined by Apple. From time to time, Apple may refuse a
    refund request if Apple finds evidence of fraud, refund abuse, or other manipulative behavior. Please
    see https://support.apple.com for more information.


    <h2>
      Information Provided by You
    </h2>
    The use of all materials and information sent through or in connection with this website and/or Fretboard Learning
    software by you is subject to our Privacy Policy.


    <h2>
      Rights to Content
    </h2>
    “Content” refers to all software (including without limitation all games, titles, and computer code), communications
    (including without limitation all stories, dialogues, concepts, documentation, and character profile information),
    images, sounds, audio-visual effects, accounts, Virtual Currency and Virtual Items, and material produced by
    Fretboard Learning and/or received or made available while playing the Games or developed during the course of the
    Games. Content also includes all feedback, comments, or suggestions that Fretboard Learning receives from you
    regarding the Games. Unless otherwise expressly stated in writing, you understand and agree that all Content is
    owned, controlled, and/or licensed by Fretboard Learning. Fretboard Learning reserves the right to use all Content
    for any purpose, including without limitation all commercial and/or promotional use, without restriction by or
    compensating you. All Content is copyrighted under the copyright laws of Republic of Ireland and/or similar laws of
    other jurisdictions, protecting it from unauthorized use. Fretboard Learning reserves all rights, including, without
    limitation, all intellectual property rights and other proprietary rights to and relating to its Games. You are not
    permitted to copy, redistribute, publish, create any derivative work from, or otherwise exploit our Content or any
    part of our Content in violation of Fretboard Learning’s and/or any other third party’s intellectual property
    rights. Fretboard Learning, its logos, Game titles, and all related characters and elements are trademarks of
    Fretboard Learning and may not be used without its prior written consent.
    <br>
    <br>
    If you are deemed to have retained any right to, title of, or interest in our Content or any part of our Content,
    you agree to and hereby assign solely and exclusively to Fretboard Learning all of your rights to, titles of, and
    interests in such Content or any part of such Content without additional consideration and in perpetuity under all
    applicable laws. If, for any reason, such assignment is ineffective under applicable law, you hereby grant Fretboard
    Learning the sole, exclusive, irrevocable, sublicensable, transferable, worldwide, royalty-free license to
    reproduce, modify, create any derivative work from, publish, distribute, sell, transfer, transmit, publicly display,
    use, and practice such Content or any part of such Content, and to incorporate the same in other works in any form,
    media, or technology now known or later developed. To the extent permitted by applicable laws, you hereby agree to
    waive all moral rights or rights of publicity or privacy you may have to such Content.
    <br>
    <br>
    At our discretion, Fretboard Learning representatives or technology may monitor certain Content in the Games, though
    it cannot and makes no undertaking to monitor all Content. We may edit, refuse to post, or remove any Content posted
    in the Games or in any Games-related sources that is deemed objectionable or violates these Terms or the spirit of
    these Terms at our sole discretion and determination. If you encounter something you find objectionable and in
    violation of these Terms, you can bring it to our attention by contacting us. You understand and agree that we are
    not responsible or liable for any Content generated by users of the Games. This implies that users, not us, are
    entirely responsible for the completeness, accuracy, and/or usefulness of all the Content they upload, communicate,
    transmit, and/or otherwise make available via our Games and related services.
    <br>
    <br>
    You acknowledge and agree that Fretboard Learning may use built-in tracking features to obtain information regarding
    your use of the Games in order to improve the services we provide, and agree that such information is deemed to be
    Content for all intents and purposes under these Terms.


    <h2>
      Use of Software
    </h2>
    The software available for download on this website or in app stores, as well as available on social networks, and
    all its documentation are the copyrighted work of Fretboard Learning developer. Use of that software is governed by
    the terms of the end-user license agreement that accompanies or is included in it. You are not able to use,
    download, or install any software without first agreeing to the terms of the end-user license agreement that
    accompanies or is included in it.
    <br>
    <br>
    You may not use, copy, republish, download, modify, distribute, license, sublicense, decompile, disassemble, create
    a derivative work based on, or reverse engineer the software or other products, services, or processes accessible
    through our website or Games except as expressly authorized herein or in the applicable end-user license agreement.
    You also acknowledge and agree that you will not transmit, upload, or attempt to transmit or upload viruses, adware,
    spyware, worms, or any other malicious or invasive code.
    The software is supplied "AS IS." Fretboard Learning disclaims all warranties, expressed or implied, including, but
    not limited to, warranties of merchantability and fitness for any purpose with respect to the software. You assume
    the entire risk of using the software.
    <br>
    <br>
    You understand that Fretboard Learning’s introduction of various technologies may not be consistent across all
    platforms and that the performance and some features offered by us may vary depending on your device and other
    equipment.
    Fretboard Learning grants you a non-exclusive, non-transferable, revocable, and limited license to use our software.
    You may not use Fretboard Learning software for any purpose other than that described in the license granted to you.
    Any illegal use of our software is solely your responsibility.

    <h2>
      User Conduct
    </h2>
    You may be required to register an account (the “Account”) on the Service. Your use of the Service is governed by
    and maintained and enforced by Us through “User Conduct.” You are entirely responsible for knowing, understanding,
    and abiding by User Conduct. The User Conduct rules are not exhaustive, and Fretboard Learning reserves the right to
    determine which conduct is considered to be outside the spirit of the Games and to take disciplinary measures,
    including the termination and deletion of user accounts, prohibiting user from using the Service in whole or in
    part. User Conduct governs all aspects of your interaction with the Games, including, without limitation, selecting
    an in-game name, posting messages, interacting with other users, and otherwise accessing the Games.
    <br>
    <br>
    You acknowledge and agree that if Fretboard Learning finds, at its sole discretion, that you have violated User
    Conduct, you may no longer have access to the violating item/items and/or Fretboard Learning reserves the right to
    take actions, which may include terminating your account and prohibiting you from using the Service in whole or in
    part.
    <br>
    <br>
    You agree that you will not:
    <ul>
      <li>
        Transmit or post any content or use language deemed to be offensive at Fretboard Learning’s sole discretion,
        including, without limitation, content or language that is unlawful, harmful, threatening, abusive, harassing,
        defamatory, vulgar, obscene, hateful, sexually explicit, or racially, ethnically, or otherwise objectionable,
        nor may you misspell or use an alternative spelling to circumvent or attempt to circumvent the content and
        language restrictions listed above
      </li>
      <li>
        Post and/or make available to the public any other user’s personal information in the Games and/or any
        game-related services without that user’s express written consent, though users may communicate their own
        personal information
      </li>
      <li>
        Violate the contractual, personal, intellectual property, or other rights of any party, or promote or constitute
        illegal activity
      </li>
      <li>
        Improperly use Fretboard Learning’s support services, including without limitation submission of false reports
        of abuse or misconduct by any party
      </li>
      <li>
        Disable, interfere with, or circumvent any security feature of the Games or any feature that restricts or
        enforces limitations on the use of or access to the Games or Content
      </li>
      <li>
        Participate in any activities and/or perform any actions that, in Fretboard Learning’s sole opinion, lead to,
        result in, or may result in an authorized user of the Games being defrauded of Virtual Currency or Virtual Items
        that user has earned through authorized gameplay and/or purchased in the Games
      </li>
      <li>
        Sell Fretboard Learning’s Game or any of their parts, including but not limited to Virtual Currency or Virtual
        Items, user accounts, and/or access to user accounts to any party in exchange for real currency or items and/or
        services of monetary value
      </li>
      <li>
        Engage in cheating or any other fraudulent activity deemed by Fretboard Learning to be in conflict with the
        spirit of the Games
      </li>
      <li>
        Use or take part in the use of any unauthorized third-party software designed to modify or interfere with the
        Service and/or any Fretboard Learning Games
      </li>
      <li>
        Share your password or any credentials you may use to access your Account with anyone
      </li>
      <li>
        Purchase, sell, rent, or give away your Account, or otherwise make available your Account to any third party;
        create an Account using a false identity or information, or on behalf of someone other than yourself
      </li>
      <li>
        Use your Account for commercial purposes, including but not limited to advertising, or solicitation, or
        transmission of any commercial advertisements (junk or spam emails, chain letters, etc.)
      </li>
    </ul>

    <h2>
      Minors
    </h2>
    You must be at least 16 years old to access and/or use our website or Games. If you are a minor over the age of 16,
    we recommend seeking consent from a parent or legal guardian before accessing and/or using our website or Games.
    <h2>
      Termination
    </h2>
    We reserve the right to take actions, which may include terminating your account and prohibiting you from using the
    Service in whole or in part (including but not limited to by deleting your account) at any time, if we reasonably
    believe that you have violated or breached any of these terms. In the event that we suspend or terminate your
    account, you will have no further access to your account and/or any Content associated with it. As stated above,
    Fretboard Learning and third-party e-commerce payment providers will not issue any refund to you for Virtual
    Packages or Virtual Items acquired, developed during, or purchased in the Games.

    <h2>
      Severability
    </h2>
    You and Fretboard Learning developer agree that if any part of these terms is or becomes, in whole or in part,
    invalid or unenforceable under any applicable local laws or court, it is to be deemed severed from these terms to
    the extent of its invalidity or unenforceability, and the rest of the terms shall remain in full force and effect.
    Supplemental Policies
    <br>
    Additional policies related to specific services (including but not limited to forums, contests, or loyalty
    programs) can be issued. Your right to use such services is subject to the pertinent policies and these Terms of
    Use.
    <br>
    <br>
    YOU AGREE THAT YOUR USE OF THE INFORMATION, CONTENT, OR SERVICES ACKNOWLEDGES THAT YOU HAVE READ THIS AGREEMENT,
    UNDERSTAND IT, AND AGREE TO BE BOUND BY ITS TERMS AND CONDITIONS.
    <br>
    <br>
    If you have any questions or comments, please contact us at fretboardlearning@gmail.com. Please also see our Privacy Policy.


    <br>

  </div>
</ion-content>
