/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

h1,
h2,
h3 {
  font-family: 'Avenir', sans-serif;
  font-display: swap;
  margin-top: 0;
}

@media screen and (max-width: 760px) {
  .hide-on-mobile {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .hide-on-desktop {
    display: none;
  }
}
