/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Tabasco';
  src: url('assets/fonts/tabasco/fonts/Tabasco.eot');
  src: url('assets/fonts/tabasco/fonts/Tabasco.eot') format('embedded-opentype'),
  url('assets/fonts/tabasco/fonts/Tabasco.woff2') format('woff2'),
  url('assets/fonts/tabasco/fonts/Tabasco.woff') format('woff'),
  url('assets/fonts/tabasco/fonts/Tabasco.ttf') format('truetype'),
  url('assets/fonts/tabasco/fonts/Tabasco.svg#Tabasco') format('svg');
}

body {
  touch-action: manipulation;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Avenir', sans-serif;
  margin-top: 0;
}

.page {
  padding: 1rem;

  .image,
  .page-image {
    max-width: 300px;
    max-height: 300px;
    width: 70vw;
    height: 70vw;
    min-width: 150px;
    min-height: 150px;
    display: block;
    margin: 1rem auto 2rem;
  }

  @media screen and (min-width: 761px) {
    text-align: center;
  }
}

.text-muted {
  // padding: 0 1rem;
  cursor: default;
  opacity: 0.8;
  font-size: 80%;
}

.game-mode {
  .game-mode-settings {
    ion-item {
      ion-input {
        text-align: end;
      }
    }
  }

  .game-mode-result {
    color: var(--ion-text-color);
    font-size: 1.1rem;
    text-align: center;
    margin: 1.9rem 0 0;

    .result {
      font-size: 1.3rem;
      color: var(--ion-color-success);

      &.n0 {
        color: #fb5f5f;
      }

      &.n1 {
        color: #fd7b57;
      }

      &.n2 {
        color: #fc9654;
      }

      &.n3 {
        color: #f7af5a;
      }

      &.n4 {
        color: #f7af5a;
      }

      &.n5 {
        color: #f1c668;
      }

      &.n6 {
        color: #cddf7e;
      }

      &.n7 {
        color: #b8dc7a;
      }

      &.n8 {
        color: #a1d979;
      }

      &.n9 {
        color: #88d57a;
      }

      &.n10 {
        color: #6bd17d;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .hide-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 761px) {
  .hide-on-desktop {
    display: none;
  }
}

.taba {
  font-family: Tabasco, var(--ion-font-family);
}

// ionic ajustements
ion-tab-button {
  filter: grayscale(100%);
  transition: filter 500ms ease-out;

  img {
    transition: transform 250ms ease-out;
    transform: scale(.8);
  }
}

.tab-selected {
  filter: grayscale(0%);

  img {
    transform: scale(1);
  }
}

.modal-transparent {
  .modal-wrapper {
    background: transparent;
  }
}

.fullscreen-modal::part(content) {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: var(--ion-text-color) !important;
}
