/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Tabasco';
  src: url('assets/fonts/tabasco/fonts/Tabasco.eot');
  src: url('assets/fonts/tabasco/fonts/Tabasco.eot') format('embedded-opentype'),
  url('assets/fonts/tabasco/fonts/Tabasco.woff2') format('woff2'),
  url('assets/fonts/tabasco/fonts/Tabasco.woff') format('woff'),
  url('assets/fonts/tabasco/fonts/Tabasco.ttf') format('truetype'),
  url('assets/fonts/tabasco/fonts/Tabasco.svg#Tabasco') format('svg');
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Avenir', sans-serif;
  margin-top: 0;
}

.page {
  padding: 1rem;

  .image,
  .page-image {
    max-width: 300px;
    max-height: 300px;
    width: 70vw;
    height: 70vw;
    min-width: 150px;
    min-height: 150px;
    display: block;
    margin: 1rem auto 2rem;
  }

  @media screen and (min-width: 760px) {
    text-align: center;
  }
}

.text-muted {
  // padding: 0 1rem;
  cursor: default;
  opacity: 0.8;
  font-size: 80%;
}

.game-mode {
  .game-mode-settings {
    ion-item {
      ion-input {
        text-align: end;
      }
    }
  }

  .game-mode-result {
    color: var(--ion-text-color);
    font-size: 1.1rem;
    text-align: center;
    margin: 1.9rem 0 0;
  }
}

@media screen and (max-width: 760px) {
  .hide-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .hide-on-desktop {
    display: none;
  }
}

.taba {
  font-family: Tabasco, var(--ion-font-family);
}

// ionic ajustements
ion-tab-button {
  filter: grayscale(100%);
}

.tab-selected {
  filter: grayscale(0%);
}

.modal-transparent {
  .modal-wrapper {
    background: transparent;
  }
}
.swiper-pagination-bullet {
  background: var(--ion-text-color) !important;
}
